---
---

@import "{{ site.theme }}";


/* General Body Styles */
body {
    font-family: Quicksand,Quicksand Fallback,Arial,serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-container {
    width: 250px;
    background-color: #2e7bcf;	
    color: #ffffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.site-title {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Architects Daughter", Quicksand,Quicksand Fallback,Arial,serif;
    margin-right: auto;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.site-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.main-navigation li {
    margin-bottom: 10px;
}

.main-navigation li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.main-navigation li a:hover {
    color: #ffcc00;
}

.tag-cloud-wrapper {
    padding: 0 0 40px 0;
}


ul.tag-cloud a[data-weight="1"] { --size: 1; }
ul.tag-cloud a[data-weight="2"] { --size: 2; }
ul.tag-cloud a[data-weight="3"] { --size: 3; }
ul.tag-cloud a[data-weight="4"] { --size: 4; }
ul.tag-cloud a[data-weight="5"] { --size: 5; }
ul.tag-cloud a[data-weight="6"] { --size: 6; }
ul.tag-cloud a[data-weight="7"] { --size: 7; }
ul.tag-cloud a[data-weight="8"] { --size: 8; }
ul.tag-cloud a[data-weight="9"] { --size: 9; }

ul.tag-cloud a {
  --size: 4;
  font-size: calc(var(--size) * 0.15rem + 0.5rem);
  color: #FFF;
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

ul.tag-cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5reml;
    margin: 0;
}

.tag-cloud a:hover {
    background: #aaa;
}

/* Main Content Area */
main {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-container {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
        text-align: left;
    }

    .header-content {
        justify-content: flex-start; /* Left-align site title */
    }

    .site-title {
        margin-right: 0;
    }

    .menu-icon {
        display: block;
    }

    .site-nav {
        display: none;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        background-color: #2e7bcf;	
        padding: 10px 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        z-index: 2;
    }

    .site-nav.active {
        display: block;
    }

    .main-navigation {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0 10px;
    }

    .main-navigation li {
        margin-bottom: 5px;
    }

    main {
        margin-left: 0;
        padding: 10px;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only-inline {
        display: inline;
    }

    .desktop-only-inline {
        display: none;
    }

    ul.tag-cloud a {
        color: #2e7bcf !important;
    }
}

@media (min-width: 769px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .mobile-only-inline {
        display: none;
    }

    .desktop-only-inline {
        display: inline;
    }

    .site-nav {
        min-height: 100vh;
    }

    body {
        flex-direction: row;
    }
}

/* overrides */
header { 
  background: #2e7bcf; 
  font-family: inherit !important; 
}
pre code { 
  background-color: #f8f8f8 
}

/* custom pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border-radius: 4px;
  margin: 0 2px;
}

.pagination span {
  padding: 5px 10px;
  background: #f8f9fa;
  border-radius: 4px;
  margin: 0 2px;
  color: #007bff;
}

/* post lists */
// Adjust post list item styling for Architect theme
.post-list-item {
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.post-content {
    flex-grow: 1;
}

.post-title {
    font-size: 1.25rem;
    margin: 0;
}

.post-meta {
    color: #777;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.post-excerpt {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: #555;
}

.read-more {
    display: inline-block;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.875rem;
}

.read-more:hover {
    text-decoration: underline;
}


/* Brevo form */

#sib-container input:-ms-input-placeholder {
  text-align: left;
/*  font-family: 'Helvetica', sans-serif;*/
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  /*font-family: 'Helvetica', sans-serif;*/
  color: #c0ccda;
}

#sib-container textarea::placeholder {
  text-align: left;
/*  font-family: 'Helvetica', sans-serif;*/
  color: #c0ccda;
}

#sib-container a {
  text-decoration: underline;
  color: #2BB2FC;
}

#sib-form, #sib-form-div, #sib-container {
  padding: 0px !important;
  background-color: #2e7bcf;
}


#sib-form button {
  color: #2e7bcf;
  background-color: #ddd;
}

#sib-form button:disabled {
  color: #2e7bcf;
  background-color: #aaa;
  cursor: not-allowed;
}

#sib-form button:hover {
  background-color: #aaa;
}

.sib-form, .entry__choice {
  font-family: inherit !important;
}

.sib-form .entry__error {
  color: #aaa !important;
}

.sib-form-block {
  padding: 0 5px !important;
}

.sib-form .input {
  color: #000 !important;
}

a.button {
  color: #2e7bcf;
  background-color: #ddd;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 5px;
}

a.button:hover {
  background-color: #aaa;
}

.comment-button {
  margin-left: 20px;
}

.comment-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.commenter div {
  display: inline-block;
}

.commenter img {
  vertical-align: middle;
}


.commenter .avatar {
  width: 32px;
}

.commenter .username {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offest: .15em;
}

.author-badge {
  padding: 4px;
  border-radius: 10px;
  background-color: #ddd;
  color: #2e7bcf;
}

.comment-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.comment-edited {
  padding: 4px;
  border-radius: 10px;
  background-color: #aaa;
  color: #fff;
}

#search-form-desktop, #search-form-mobile {
  background-color: #2e7bcf;
  padding: 0;
}

#search-form-mobile {
  margin-left: auto;
}

#search-form-mobile input {
 width: 120px;
}

#search-input-mobile, #search-input-desktop{
 color: #000;
 width: 150px;
}

.post-image {
  text-align: center;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4:before {
  padding-right: inherit !important;
  margin-left: inherit !important;
  content: inherit !important;
  color: inherit !important;
}

img.twan-badge {
  width: 150px;
}

.twan-badge-wrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sharethis-inline-share-buttons {
  margin-bottom: 10px;
}

div.callout {
  background-color: #d6d6d6;
  border: 1px;
  margin: 20px;
  padding: 10px;
}